.day__container{
    height: 100%;
    width: 100%;
    min-width: max-content;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
    position: relative;
}

.day__container:not(:last-child)::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    transform: translateX(600%);
}

.day__icon img{
    width: 5rem;
    
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}

.day__date{
    font-weight: 500;
}

.day__cloudiness{
    display: flex;
    flex-direction: column;
}

.day__wind{
    display: flex;
    flex-direction: column;
}
