.forecast__container{
    grid-column: 2 / span 2;
    grid-row: 2 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-card-background);
}