.overview{
    grid-row: 2/ 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--color-card-background);
    grid-column: 1;
}

.overview__main{
    text-align: center;
}

.overview__main--icon{
    margin: 0 auto;
}

.overview__main--icon img{
    width: 100%;
    max-width: 15rem;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}

.overview__country{
    font-weight: 300;
    font-size: 1rem;
    display: block;
    margin-top: -.5rem;
}