.sun__container{
    background-color: var(--color-card-background);
    display: flex;
    justify-content: space-around;
    grid-row: 4;
    grid-column: 3;
}

.sunset-img,
.sunrise-img{
    width: 8rem;
}

.sun__sunrise,
.sun__sunset{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    text-align: center;
}