.temperature{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.label{
    font-size: 1.6rem;
}

.data{
    font-size: 3rem;
    font-weight: 500;
}

.feels-like{
    font-size: 1rem;
}

.min-max{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.min, .max{
    display: flex;
    flex-direction: column;
}

.min-max .label{
    font-size: 1rem;
}

.min-max .data{
    font-size: 1.6rem;
}

@media (max-width:810px){
    .data{
        font-size: 1.6rem;
    }
    .min-max .data{
        font-size: 1rem;
    }
  }

  @media (max-width:526px){
    .temperature .data{
        font-size: 1rem;
    }
    .min-max .data,
    .min-max .label{
        font-size: .8rem;
    }
    .feels-like{
        font-size: .8rem;
    }
  }