.App {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2rem 1fr auto;
  padding: 5rem;
  padding-top: 3rem;
  margin: 0 auto;
  height: fit-content;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 90%;
  max-width: 100rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: opacity 2s;
}

.content > div:not(:first-child) {
  margin: 1rem;
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.time{
  margin: 1rem;
  grid-column: 1 / -1;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
} 

.hidden{
  opacity: 0;
}

@media (max-width:1440px){
  .content{
    width: 95%;
    padding: 0;
  }
}

@media (max-width:768px){
  .content > div:not(:first-child) {
    margin: .2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
  .content{
    grid-template-rows: repeat(5, auto);
  }
  .App{
    padding: 2rem 0;
  }
  .time{
    margin: .2rem;
  }
}