*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background-image: url("./images/day.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 5rem;
  margin: 0 auto;
  height: 60rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 110rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.content > div {
  margin: 1rem;
  border-radius: 10px;
  padding: .5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
